@model Color
@{
    ViewData["Title"] = "Detail";
}

<div>
   <div>
       <h4>Id</h4>
       <p>
           @Model.Id
       </p>
   </div>
   <div>
        <h4>Name</h4>
       <p>
           @Model.Name
       </p>
   </div>
</div>
